<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/layer_v3.1.1/3.1.1/theme/default/layer.css}"/>-->
    <script th:src="@{/layer/layer.js}" charset="utf-8"></script>

    <script th:src="@{/jquery/js/jquery-3.5.1.min.js}" charset="utf-8"></script>

</head>
<body>
<h1 th:text="${name}"></h1>
<input type="file" name="file" id="uploadText">
<div id="importDataDIV" style="display: none;">
    <form action="" method="post" enctype="multipart/form-data" id="importDataForm">
        <button class="form_selectFile" type="button">选择文件</button>
        <input type="file" id="file" class="form_fileInput"/>
        <span class="showFileName">未上传文件</span>
    </form>
</div>
<input class="btn" type="button" style="width: 170px;" value="导入数据" onClick="importData();">
<blockquote class="layui-elem-quote" style="margin-top: 20px;">即不改变input的样式，只提供上传功能</blockquote>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    function importData() {
        layer.open({
            title: "选择文件",
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['420px', '240px'], //宽高
            closeBtn: 0,
            content: jQuery("#importDataDIV"),
            btn: ['确定', '取消'],
            yes: function (index, layero) {
                var fileInput = $('#file').get(0).files[0];
                if (fileInput) {
                    //控制文件大小30 * 1024 * 1024 = 30M
                    /*var fileSize = fileInput.size;
                    if(fileSize > 30 * 1024 * 1024){

                    }*/

                    var formData = new FormData();
                    formData.append("file", fileInput);
                    $.ajax({
                        type: "post",
                        url: basePath + "/budget/yishang/importData",
                        data: formData,
                        processData: false,
                        contentType: false,
                        dataType: "json",
                        success: function (data) {
                            if (data.code == "1") {
                                layer.close(index);
                                jQuery("#importDataForm")[0].reset();
                                layer.alert('导入成功！', {icon: 6});
                                searchBudget();
                            } else {
                                layer.alert(data.msg, {icon: 6});
                            }
                        },
                        error: function (data) {
                            layer.alert("导入失败！", {icon: 6});
                        }
                    });
                } else {
                    layer.alert('请选择文件！', {icon: 6});
                }
            },
            btn2: function (index, layero) {
                jQuery("#importDataForm")[0].reset();
                layer.close(index);
            }
        });
    }
</script>

</body>
</html>